*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#faf6ef;
    color:#222;
}

header{
    background:#6d0f0f;
    color:white;
    padding:18px 40px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

nav h2{
    color:#FFD700;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:linear-gradient(135deg,#6d0f0f,#b8860b);
    color:white;
}

.hero h1{
    font-size:48px;
    margin-bottom:15px;
}

.hero h3{
    font-size:28px;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

button{
    padding:14px 30px;
    margin:10px;
    border:none;
    border-radius:30px;
    background:#FFD700;
    color:#6d0f0f;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:white;
}

@media(max-width:768px){

nav{
    flex-direction:column;
}

nav ul{
    flex-direction:column;
    margin-top:15px;
}

.hero h1{
    font-size:34px;
}

}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:26px;
    font-weight:bold;
    color:#FFD700;
}

nav ul li a{
    transition:.3s;
}

nav ul li a:hover{
    color:#FFD700;
}
